<!DOCTYPE html>
<meta charset="utf-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<style>

    body, html {
        height: 100%;
        width: 100%;
    }
    .link {
        fill: green;
        stroke: #000;
        stroke-width: 1.5px;
    }

    .node {
        cursor: move;
        fill: #ccc;
        stroke: #000;
        stroke-width: 1.5px;
    }

    .node.fixed {
        fill: #f00;
    }

    .file-bubble {
        height: 100px;
        width: 500px;
        background-color: white;
        /*border: 1px solid black;*/
    }

    .code-block {
        width: auto;
        /*height: 300px;*/

    }

    code {
        overflow-y: scroll;
        max-height: 500px;
    }

    .node.fixed .file-bubble {
        background-color: #00B7FF;
    }


</style>
<body>

<!--<div id="editor">function foo(items) {-->
    <!--var x = "All this is syntax highlighted";-->
    <!--return x;-->
    <!--}</div>-->

<!--<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script>-->
    <!--var editor = ace.edit("editor");-->
    <!--editor.setTheme("ace/theme/monokai");-->
    <!--editor.session.setMode("ace/mode/javascript");-->
<!--</script>-->

<script src="//d3js.org/d3.v3.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>
    hljs.configure({useBR: true});
    var width = document.body.clientWidth,
        height = document.body.clientHeight;

    var root;

    var force = d3.layout.force()
        .size([width, height])
        .charge(-400)
        .linkDistance(300)
        .linkStrength(.5)
        .on("tick", tick);

    var drag = force.drag()
        .on("dragstart", dragstart);

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    var link = svg.selectAll(".link"),
        node = svg.selectAll(".node"),
        fObject = svg.selectAll("foreignObject"),
        fileBubble = svg.selectAll(".file-bubble");

    d3.json("data/col.json", function(error, json) {
        if (error) throw error;

        root = json;
        update();
    });

    function update() {
        var result = flatten(root.nodes, root.links);

        var nodes = result.nodes, links = result.links;
        console.log(nodes);

        // Restart the force layout.
        force
            .nodes(nodes)
            .links(links)
            .start();

        // Update links.
        svg.selectAll('*').remove();
        link = svg.selectAll('.link');

        link = link.data(links);

        // link.exit().remove();

        // link.enter().append("link");
        link.enter().append("line")
            .attr("class", "link")
            .attr("stroke-width", 1)
            .attr("stroke", "black")
            .attr("marker-end", "url(#arrow)");

        // Update nodes.
        node = svg.selectAll('.node');
        node = node.data(nodes);

        // node.exit().remove();

        var nodeEnter = node.enter().append("g")
            .attr("class", "node")
            .attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            })
            .on("dblclick", dblclick)
            .on('click', click)
            .call(drag);

        fObject = nodeEnter.append("foreignObject");
        // fObject = d3.selectAll("foreignObject");

        fileBubble = fObject.append("xhtml:div")
            .attr("class", "file-bubble");
            // .attr("class", "file-bubble");

        fileBubble.append("div")
            .html(function (d) {
                if (d.fileName) {
                    var classItems = '';
                    var i = 0;
                    for (i = 0; i < d.classes.length; i++) {
                        classItems += '<li>' + d.classes[i] + '</li>';
                    }
                    return '<div class="card-panel blue lighten-4" id="' + d.id + '">' +
                        '<i class="material-icons right">insert_drive_file</i>' +
                        '<span>' + d.fileName + '</span>' + '<ul>' + classItems + '</ul>' +
                        '</div>';
                }
                // d.source = d.source.split('\n').join('<br/>');
                // console.log(d.source);
                if (d.methodName) {
                    return '<div class="card-panel blue lighten-2" id="' + d.id + '">'
                            + d.className + '::' + d.methodName
                            + '<div class="code-block"><pre><code>' + d.source + '</code></pre></div>' +
                        '</div>';
                }
                if (d.className) {
                    return '<div class="card-panel blue lighten-3" id="' + d.id + '">'
                            + d.className
                            + '<div class="code-block"><pre><code>' + d.source + '</code></pre></div>' +
                        '</div>';
                }
            });

        console.log($('pre code'));
        $('pre code').each(function(i, block) {
            console.log(block);
            hljs.highlightBlock(block);
        });

        //arrow
        svg.append("svg:defs")
            .append("svg:marker")
            .attr("id", "arrow")
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 10)
            .attr("refY", 0)
            .attr("markerWidth", 10)
            .attr("markerHeight", 10)
            .attr("orient", "auto")
            .append("path")
            .attr("d", "M0,-5L10,0L0,5")
            .attr("class","arrowHead");

    }

    function tick() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    }

    function color(d) {
        return d._children ? "#3182bd" // collapsed package
            : d.children ? "#c6dbef" // expanded package
                : "#fd8d3c"; // leaf node
    }

    // Toggle children on click.
    function click(d) {
        if (d3.event.defaultPrevented) return; // ignore drag
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
        update();
    }

    // Returns a list of all nodes under the root.
    function flatten(nodes, links) {
        var newNodes = [], ids = {}, cnt = 0;

        function recurse(node) {
            if (node.children && node.children != null) {
                for (let c of node.children) recurse(nodes[c]);
            }
            newNodes.push(node);
            ids[node.id] = cnt++;
        }

        var roots = [];
        for (let n of nodes) if (n.fileName) roots.push(n);
        roots.forEach(recurse);

        // newNodes = newNodes.sort(function(a, b) {
        //     return +a.id - (+b.id);
        // });

        var newLinks = [];
        for (let l of links) {
            if (l.source in ids && l.target in ids) {
                newLinks.push({
                    source: ids[l.source],
                    target: ids[l.target],
                });
            }
        }
        return {nodes: newNodes, links: newLinks};
    }


    function dblclick(d) {
        d3.select(this).classed("fixed", d.fixed = false);
    }

    function dragstart(d) {
        d3.select(this).classed("fixed", d.fixed = true);
        console.log(d.fileName);
        // $.get('http://localhost:3002/test', {name: d.fileName}, function (data) {
        //     console.log(data);
        // }, 'string');
    }

</script>
